extends layout

block content
  if user
    h1 Welcome, !{user.name}
    a(href="users/log-out") Log Out
  else
    h1 Please Log In or Sign Up 
    a(href="users/log-in") Log In
    a(href="users/sign-up") Sign Up
