extends layout

block content
  if currentUser
    h1 Welcome, !{currentUser.name}!
    button.btn.btn-primary(type='button')
      a(href="messages") Message Board
    if !currentUser.isAdmin
      button.btn.btn-secondary(type='button')
        a(href="users/admin") Become Admin
    button.btn.btn-secondary(type='button')
      a(href="users/log-out") Log Out
  else
    h1 Welcome!
    button.btn.btn-primary(type='button')
      a(href="messages") Message Board
    button.btn.btn-secondary(type='button')
      a(href="users/log-in") Sign In
    button.btn.btn-secondary(type='button')
      a(href="users/sign-up") Sign Up