extends layout

block content
  if currentUser
    h1 Welcome, !{currentUser.name}!
    button.btn.btn-primary(type='button')
      a(href="messages") Message Board
    if !currentUser.isAdmin
      button.btn.btn-secondary(type='button')
        a(href="users/admin") Become Admin
    button.btn.btn-secondary(type='button')
      a(href="users/log-out") Log Out
  else
    h1 Welcome!
    button.btn.btn-primary(type='button')
      a(href="messages") Message Board
    button.btn.btn-secondary(type='button')
      a(href="users/log-in") Sign In
    button.btn.btn-secondary(type='button')
      a(href="users/sign-up") Sign Up
    p 
      | Created as part of the 
      a(href="https://www.theodinproject.com/lessons/nodejs-members-only")(style='color: #0d6efd') Odin Project
      | .
    p Author and date of messages are only visible for signed in users. Adding new messages is only possible after signing in, too.
    p To delete messages, users need to become admins via entering a secret key.
    p Built with Express.js and MongoDB