extends layout

block content
  form(method='POST' action='')
    h1.h3.mb-3.fw-normal #{title}
    .form-floating
      input#usernameInput.form-control(type='text', name='username' required='true' value=(undefined===user ? '' : user.username))
      label(for='usernameInput') Username
    .form-floating
      input#passwordInput.form-control(type='password', name='password' required='true')
      label(for='passwordInput') Password
    button.btn.btn-primary.w-100.py-2(type='submit') Sign in
    if errors
      ul
        for error in errors
          li!= error.msg
    button.btn.btn-secondary.w-100.py-2(type='button') 
      a(href="/") Return
