extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Title' name='title' required='true' value=(undefined===message ? '' : message.title))
    div.form-group
      label(for='text') Text:
      input#text.form-control(type='text', placeholder='Text' name='text' required='true' value=(undefined===message ? '' : message.text))
    button.btn.btn-primary(type='submit') Add Message

  if errors
    ul
      for error in errors
        li!= error.msg

  a(href="/") Back