extends layout

block content
  form(method='POST' action='')
    h1.h3.mb-3.fw-normal #{title}
    .form-floating
      label(for='name') Name
      input#name.form-control(type='text', name='name' required='true' value=(undefined===user ? '' : user.name))
    .form-floating
      label(for='username') Username
      input#username.form-control(type='text', name='username' required='true' value=(undefined===user ? '' : user.username))
    .form-floating
      label(for='password') Password
      input#password.form-control(type='password', name='password' required='true')
    button.btn.btn-primary.w-100.py-2(type='submit') Create User
    button.btn.btn-secondary.w-100.py-2(type='button') 
      a(href="/users") Return

  if errors
    ul
      for error in errors
        li!= error.msg

  