body {
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  margin: 2rem auto 0 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message-board {
  display: flex;
  flex-direction: column;
}

.message {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 16px;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
